html{
}

img {
  object-fit: scale-down;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
}

:root{
  --toastify-color-light: rgb(54, 54, 54);
  --toastify-text-color-dark: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}